body
{
	background-color : black;
	color : #888;
	font-family : Terminus, courier, monospace, fixed;
	font-size : 13px;
}

input.promptInput
{
	background-color : black;
	border : 0;
	color : #888;
	font-family : Terminus, courier, monospace, fixed;
	font-size : 13px;
}

div#blashWindow
{
	width : 600px;
	height : 400px;
	margin : auto;
	padding : 10px;
	border : 1px solid #888;
	overflow : auto;
}

a.bannerLink
{
	color : white;
}

span.directory
{
	color : #2553ee;
}

.file
{
	color : #4f4;
}

span.syntax
{
	color : white;
	font-weight : bold;
}

span.brief
{
	color : green;
}

